doctype html
html(lang="en")
    include ./partials/header
    <body>

<nav class="navbar bg-light">
<div class="container-fluid col-2">
    <a class="navbar-brand " href="#" style="font-size:2rem;color: Green;" >ToDo App</a>
</div>
</nav>
<div class="container col-4 mt-5 ">
    <form action="/add" class="d-flex mb-5" method="post">
    <input type="text" class="form-control" name="todo" placeholder="Enter ToDo">
    <button type="submit" value="Add" class="btn btn-primary btn-lg mx-2">Add</button>
    </form>
    <ul class="list-group">
<li class="list-group-item active" aria-current="true">List Event</li>
    each todos in todo    
        li.list-group-item.list-group-item-action=todos.todo
            <a href="delete/#{todos._id}" class="btn btn-danger btn-sm" style="float:right">Delete<a>
</ul>
</div>
    </body>
include ./partials/footer